<form action="/answer" id="form">
  <input type="text" name="question" class="form-question" placeholder="Type your question to the coach..">
  <input type="submit" value="Ask!" class="form-btn">
</form>
